.card {
  /* width: clamp(60px, 10vw, 60px); */
  /* height: clamp(84px, 14vw, 84px); */
  border: 2px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card-highlighted {
  background-color: #ffffcc;
  border: 4px solid #ffaa00;
}

.card-small {
  width: 60px;
  height: 84px;
}

.card-text {
  font-family:
    Arial Black,
    sans-serif;
  font-size: clamp(24px, 4vw, 32px);
  user-select: none;
}

.card-small .card-text {
  font-size: clamp(18px, 3vw, 24px);
}

/* Card Back */
.card-back {
  width: 60px;
  height: 84px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #1a472a;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.card-back-small {
  width: 60px;
  height: 84px;
}

/* Card Style Fonts */
.card-text-persona {
  font-family: "Blaka", sans-serif !important;
}

.card-text-ole-west {
  font-family: "Sancreek", sans-serif !important;
}

.card-text-bunch-of-circles {
  font-family: "Bigshot One", sans-serif !important;
}

.card-text-cyberpunk {
  font-family: "Tomorrow", sans-serif !important;
  font-weight: 700 !important;
}

.card-text-bowling-alley-carpet {
  font-family: "Titan One", sans-serif !important;
}

.card-text-weeb {
  font-family: "Reggae One", sans-serif !important;
}

/* Card Face Background Images */
.card-face-persona {
  background-image: url('/assets/card_back_persona_2.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-face-persona.card-swapped {
  background-image: url('/assets/card_back_persona.png') !important;
}

.card-face-ole-west {
  background-image: url('/assets/card_back_ole_west_1.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-face-ole-west.card-swapped {
  background-image: url('/assets/card_back_ole_west_2.png') !important;
}

.card-face-bunch-of-circles {
  background-image: url('/assets/card_back_bunch_of_circles_2.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-face-bunch-of-circles.card-swapped {
  background-image: url('/assets/card_back_bunch_of_circles_1.png') !important;
}

.card-face-cyberpunk {
  background-image: url('/assets/card_back_cyberpunk_2.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-face-cyberpunk.card-swapped {
  background-image: url('/assets/card_back_cyberpunk_1.png') !important;
}

.card-face-bowling-alley-carpet {
  background-image: url('/assets/card_back_bowling_alley_carpet_2.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-face-bowling-alley-carpet.card-swapped {
  background-image: url('/assets/card_back_bowling_alley_carpet_1.png') !important;
}

.card-face-weeb {
  background-image: url('/assets/card_back_weeb_1.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-face-weeb.card-swapped {
  background-image: url('/assets/card_back_weeb_2.png') !important;
}

/* Card Back Background Images */
.card-back-persona {
  background-image: url('/assets/card_back_persona.png') !important;
}

.card-back-persona.card-swapped {
  background-image: url('/assets/card_back_persona_2.png') !important;
}

.card-back-ole-west {
  background-image: url('/assets/card_back_ole_west_2.png') !important;
}

.card-back-ole-west.card-swapped {
  background-image: url('/assets/card_back_ole_west_1.png') !important;
}

.card-back-bunch-of-circles {
  background-image: url('/assets/card_back_bunch_of_circles_1.png') !important;
}

.card-back-bunch-of-circles.card-swapped {
  background-image: url('/assets/card_back_bunch_of_circles_2.png') !important;
}

.card-back-cyberpunk {
  background-image: url('/assets/card_back_cyberpunk_1.png') !important;
}

.card-back-cyberpunk.card-swapped {
  background-image: url('/assets/card_back_cyberpunk_2.png') !important;
}

.card-back-bowling-alley-carpet {
  background-image: url('/assets/card_back_bowling_alley_carpet_1.png') !important;
}

.card-back-bowling-alley-carpet.card-swapped {
  background-image: url('/assets/card_back_bowling_alley_carpet_2.png') !important;
}

.card-back-weeb {
  background-image: url('/assets/card_back_weeb_2.png') !important;
}

.card-back-weeb.card-swapped {
  background-image: url('/assets/card_back_weeb_1.png') !important;
}
